body {
    min-height: 100%;
}

.logo_text {
    font-family: 'Saira', sans-serif;
    font-weight: 800;
    position: absolute;
    padding-top: 1px;
    cursor: pointer;
    color: white;
}

#top_half {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

#top_half {
    top: 0;
    background-color: white;
}

#header {
    top: 0;
    font-size: 1.2em;
    width: 100%;
    background-color: transparent;
    padding: 16px;
}

/*.tab_icon:hover {
    color: white;
}*/

.selector_button {
    min-width: 154.25px;
    color: white;
    background-color: #4EA93F;
    border-radius: 3px;
    padding: 6px 7px 4px 12px;
    font-family: 'Saira', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.selector_button0 {
    position: absolute;
    top: 79px;
    right: 16px;
    color: white;
    background-color: #4EA93F;
    border-radius: 3px;
    padding: 6px 7px 4px 12px;
    font-family: 'Saira', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
}

ul {
    font-family: 'Saira', sans-serif;
    color: white;
    width: 154.25px;
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
}

ul:hover {

}

li {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 12px;
}

li:hover {
    background-color: #63ef52;
}

.selector_button:hover {
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.24), 0 4px 17px 0 rgba(0, 0, 0, 0.19);
}

.server {
    background-color: #000511;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px dashed #4EA93F;
    text-align: center;
    vertical-align: middle;
    color: white;
    z-index: 100;
    display: none;
    margin-left: 12px;
    margin-right: 12px;
}

.memory {
    font-family: 'Saira', sans-serif;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
}

#user_template {
    height: 54px;
    margin-top: 16px;
    border-radius: 6px;
    background-color: white;
    color: black;
}

/*Chartist Chart config!*/
.ct-grids line {
    color: #8c8c8c;
    stroke: #8c8c8c;
}

.ct-labels span {
    color: white;
}

.positivebutton {
    padding: 6px 12px;
    color: white;
    background-color: #6633cc;
    border-radius: 3px;
    border-width: 0px;
    font-size: 14px;
    cursor: pointer;
}

.negativebutton {
    padding: 6px 12px;
    color: #FFFFFF;
    background-color: #8c8c8c;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    /*font-weight: 300;*/
    cursor: pointer;
}
