body {
    min-height: 100%;
    background-color: #354052;
}

*:focus {
    outline: none;
}

.logo_text {
    font-family: 'Saira', sans-serif;
    font-weight: 800;
    position: absolute;
    padding-top: 1px;
    cursor: pointer;
}

#top_half {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#bottom_half {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#servers_container::-webkit-scrollbar {
    display: none;
}

#top_half {
    top: 0;
    background-color: #000511;
}

#header {
    top: 0;
    font-size: 1.2em;
    width: 100%;
    background-color: transparent;
    padding: 16px;
    color: white;
}

#topology_container {
    height: 100%;
}

#upgrade_topology_container {

}

.upgrade_button {
    max-lines: 1;
    background-color: #4EA93F;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'Saira', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
}

.upgrade_button:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

#bottom_half {
    bottom: 0;
    background-color: #354052;
}

#tabs {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 11px;
    margin: 0;
    width: 100%;
    background-color: #354052;
}

.tab_icon {
    color: #8c8c8c;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0.1em;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
}

/*.tab_icon:hover {
    color: white;
}*/

/*::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}*/

.selector_button {
    min-width: 154.25px;
    color: white;
    background-color: #4EA93F;
    border-radius: 3px;
    padding: 6px 7px 4px 12px;
    font-family: 'Saira', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.selector_button0 {
    position: absolute;
    top: 79px;
    right: 16px;
    color: white;
    background-color: #4EA93F;
    border-radius: 3px;
    padding: 6px 7px 4px 12px;
    font-family: 'Saira', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
}

ul {
    font-family: 'Saira', sans-serif;
    color: white;
    width: 154.25px;
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
}

ul:hover {

}

li {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 12px;
}

li:hover {
    background-color: #63ef52;
}

.selector_button:hover {
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.24), 0 4px 17px 0 rgba(0, 0, 0, 0.19);
}

.server {
    background-color: #000511;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px dashed #4EA93F;
    text-align: center;
    vertical-align: middle;
    color: white;
    z-index: 100;
    display: none;
    margin-left: 12px;
    margin-right: 12px;
}

.memory {
    font-family: 'Saira', sans-serif;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
}

#user_template {
    height: 54px;
    margin-top: 16px;
    border-radius: 6px;
    background-color: white;
    color: black;
}

/*Chartist Chart config!*/
.ct-grids line {
    color: #3f3f3f;
    stroke: #3f3f3f;
}

.ct-labels span {
    color: #3f3f3f;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #3124d6;
}

.ct-series-a .ct-area {
    fill: #3124d6;
}


/*!* Use this selector to override the line style on a given series *!
.ct-series-a .ct-line {
    !* Set the colour of this series line *!
    stroke: green;
    !* Control the thikness of your lines *!
    stroke-width: 5px;
    !* Create a dashed line with a pattern *!
}

.ct-series-a .ct-area {
    fill: cyan;
}

!* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS *!
.ct-series-a .ct-point {
    !* Colour of your points *!
    stroke: green;
    !* Size of your points *!
    stroke-width: 12px;
    !* Make your points appear as squares *!
    stroke-linecap: round;
}*/

/*Material Switches*/
/*Material Switch, still gotta clean up unused stuff!*/
.switch-box {
    display: inline-block;
    float: right;
    margin-right: 16px;
}

.switch-box .switch-box-slider {
    position: relative;
    display: inline-block;
    height: 8px;
    width: 32px;
    background: #d5d5d5;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.switch-box .switch-box-slider:after {
    position: absolute;
    left: -8px;
    top: -8px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #eeeeee;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    content: '';
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.switch-box .switch-box-input {
    display: none;
}

.switch-box .switch-box-input ~ .switch-box-label {
    margin-left: 8px;
}

.switch-box .switch-box-input:checked ~ .switch-box-slider:after {
    left: 16px;
}

.switch-box .switch-box-input:disabled ~ .switch-box-slider {
    background: #e2e2e2;
    cursor: default;
}

.switch-box .switch-box-input:disabled ~ .switch-box-slider:after {
    background: #d5d5d5;
}

.switch-box.is-primary .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
    background: #28e1bd;
}

.switch-box.is-primary .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
    background: #1abc9c;
}

.switch-box.is-info .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
    background: #5faee3;
}

.switch-box.is-info .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
    background: #3498db;
}

.switch-box.is-success .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
    background: #63ef52;
}

.switch-box.is-success .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
    background: #4EA93F;
}

.switch-box.is-danger .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
    background: #ed7669;
}

.switch-box.is-danger .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
    background: #e74c3c;
}

.switch-box.is-warning .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
    background: #eb9950;
}

.switch-box.is-warning .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
    background: #e67e22;
}

/*
*/

.save_button {
    background: #4075ef; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4075ef 0%, #b829ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4075ef 0%, #b829ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4075ef 0%, #b829ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4075ef', endColorstr='#b829ff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*
*/

.dropdown_item {
    cursor: pointer;
    width: 100%;
    padding: 3px;
    background-color: transparent;
    font-size: 14px;
}

.dropdown_item:hover {
    background-color: #63ef52;
}

/*Modals*/

.positivebutton {
    padding: 6px 12px;
    color: white;
    background-color: #6633cc;
    border-radius: 3px;
    border-width: 0px;
    font-size: 14px;
    cursor: pointer;
}

.negativebutton {
    padding: 6px 12px;
    color: #FFFFFF;
    background-color: #b4b4b4;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    /*font-weight: 300;*/
    cursor: pointer;
}

.language_button {
    color: #9c9c9c;
    cursor: pointer;
}

.language_button:hover {
    color: #4EA93F
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*spinner*/

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
    z-index: 1000;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    0%, 100% {
        stroke: #8749F9;
    }
}

@keyframes color {
    0%, 100% {
        stroke: #8749F9;
    }
}